<template>
<div class="dashboard">
  <wallpaper imageName="erik-ringsmuth-750620-unsplash.jpg"></wallpaper>
  <clock :style="{ 'grid-area': 'clock' }"></clock>
  <weather :style="{ 'grid-area': 'weather', 'justify-self': 'end' }"></weather>
  </div>
</template>

<script>
import Wallpaper from "@/components/Wallpaper.vue";
import Clock from "@/components/Clock.vue";
import Weather from "@/components/Weather.vue";
export default {
  name: "Dashboard",
  data() {
    return {
      test: "test"
    };
  },
  components: {
    Wallpaper,
    Clock,
    Weather
  }
};
</script>

<style lang="scss" scoped>
.dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "clock . weather"
    ". . ."
    ". . .";
}
</style>
