<template>
  <div class="clock">
    <span>{{ currentTime }}</span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      now: new Date()
    };
  },
  computed: {
    currentTime() {
      // TODO: move this to a utility function
      return (
        (this.now.getHours() < 10 ? "0" : "") +
        (this.now.getHours() > 12
          ? this.now.getHours() - 12
          : this.now.getHours()) +
        ":" +
        (this.now.getMinutes() < 10 ? "0" : "") +
        this.now.getMinutes() +
        (this.now.getHours() > 12 ? " PM" : " AM")
      );
    }
  },
  created() {
    setInterval(() => (this.now = new Date()), 1000 * 60);
  }
};
</script>

<style scoped lang="scss">
.clock {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  // border: 2px solid rgba(0, 0, 50, 0.8);
  border-radius: 0.5em;
  background-color: rgba(0, 0, 50, 0.2);
  span {
    font-size: 4em;
    color: rgba(255, 255, 255, 0.8);
  }
}
</style>
