<template>
<div class="wallpaper" :style="{ backgroundImage: this.backgroundImage }">

</div>
</template>

<script>
export default {
  name: "Wallpaper",
  props: {
    imageName: String
  },
  data() {
    return {
      backgroundImage: "url(" + require("@/assets/" + this.imageName) + ")"
    };
  }
};
</script>

<style lang="scss" scoped>
.wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
</style>
