<template>
<div class="weather">
  <img class="icon" :src="weatherIcon" alt="Icons from amCharts - https://www.amcharts.com/free-animated-svg-weather-icons/" />
  <!-- icons courtesy of amCharts - https://www.amcharts.com/free-animated-svg-weather-icons/ -->
  <div class="wrapper">
    <div class="temp">{{ currentTemp }}&deg;C</div>
    <div class="summary">{{ weatherSummary }}</div>
    <a href="https://darksky.net/poweredby/" class="attribution">Powered by Dark Sky</a>
  </div>

</div>
</template>

<script>
export default {
  data() {
    return {
      weather: {
        currently: {
          temperature: 0
        }
      }
    };
  },
  computed: {
    currentTemp() {
      return Math.round(this.weather.currently.temperature);
    },
    weatherSummary() {
      return this.weather.currently.summary;
    },
    weatherIcon() {
      var icon = "/img/weather/";
      switch (this.weather.currently.icon) {
        case "clear-day":
          icon = icon + "day.svg";
          break;
        case "clear-night":
          icon = icon + "night.svg";
          break;
        case "partly-cloudy-day":
          icon = icon + "cloudy-day.svg";
          break;
        case "partly-cloudy-night":
          icon = icon + "cloudy-night.svg";
          break;
        case "rain":
          icon = icon + "rainy.svg";
          break;
        case "snow":
          icon = icon + "snowy.svg";
          break;
        case "cloudy":
          icon = icon + "cloudy.svg";
          break;
        case "thunderstorm":
          icon = icon + "thunder.svg";
          break;
        default:
          icon = icon + "cloudy.svg";
          break;
      }
      return icon;
    }
  },
  mounted() {
    this.$store
      .dispatch("loadForecast")
      .then(() => {
        this.weather = this.$store.getters.currentForecast;
        console.log(this.weather);
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style lang="scss" scoped>
.weather {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  // border: 2px solid rgba(0, 0, 50, 0.8);
  border-radius: 0.5em;
  background-color: rgba(0, 0, 50, 0.2);

  .icon {
    filter: opacity(80%);
    transform: scale(2);
  }

  .temp {
    font-size: 4em;
    // font-weight: 800;
  }

  .summary {
    font-size: 2em;
  }

  .attribution {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8em;
  }
}
</style>
